results_*
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# PEBS output files
*.dat

# Binaries
gups_hemem/gups-skewed
gups_hemem/gups-hotset-move
gups_hemem/gups-random

# Reult dir
results

# Run artifacts
*.model
*.log
liblinear-2.47/kdd12
liblinear-2.47/predict
liblinear-2.47/train
MERCI/data
logs.txt
stats.txt
times.txt
*.backup
*.xl
*.par

# Jupyter Notebook
.ipynb_checkpoints
